<!doctype html>
<html lang="en-US">
  <head>
    <title>CMS App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/cms.css" type="text/css" />
  </head>
  <body>
    <% if session[:message] %>
      <p class="flash error"><%= session.delete(:message) %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
